body {
  font-family: 'Lato', sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 800px;
}

.track {
  position: relative;
  .cursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #03A;
  }
  .selection {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: rgba(0,100,255,0.3);
    border-left: 1px solid #03A;
    border-right: 1px solid #03A;
  }
}
