body {
  font-family: 'Lato', sans-serif;
  div#controls {
    display: none;
  }
}

#wrapper {
  margin: 0 auto;
  width: 800px;

  div.input[type="file"] {
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    height: 40px;
    left: 0;
  }
}

.track {
  position: relative;
  .cursor {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    border-left: 1px solid #03A;
  }
  .selection {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: rgba(0,100,255,0.3);
    border-left: 1px solid #03A;
    border-right: 1px solid #03A;
  }
}
